.class {
	background-color: #118BC0;
	height: 4.6875em;
	box-sizing: border-box;

}

.largebox {
	background-color: #344051;
	height: 35em;
	box-sizing: border-box;


}

.website {
	/*width: 42em;*/
	box-sizing: border-box;
	padding: 5.8em;
	color:white;
	margin-right: auto;
	margin-left: auto;
}

.styleh {
	/*width: 11.25em;*/
	box-sizing: border-box;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	font-size: 2.7em;
	
}

.description {
	width: 19em;
	box-sizing: border-box;
	text-align: center;
	padding: 1.25em;
	margin-right: auto;
	margin-left: auto;
	font-size: 1.2em;

}

.divbox {
	width: 11.3125em;
	padding: 0.625em;
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	background-color: #212934;
}

.innerbox {
	background-color: #1E8CBE;
	height: 2.625em;
}