.class {
	background-color: #118BC0;
	height: 4.6875em;
	box-sizing: border-box;

}

.largebox {
	background-color: #344051;
	height: 85.1875em;
	box-sizing: border-box;


}

.website {
	/*width: 42em;*/
	box-sizing: border-box;
	padding: 7em;
	color:white;
	margin-right: auto;
	margin-left: auto;
}

.styleh {
	/*width: 11.25em;*/
	box-sizing: border-box;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	font-size: 2.7em;
	
}

.description {
	width: 19em;
	box-sizing: border-box;
	text-align: center;
	padding: 1.25em;
	margin-right: auto;
	margin-left: auto;
	font-size: 1.2em;

}

.divbox {
	width: 11.3125em;
	padding: 0.625em;
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	background-color: #212934;
}

.innerbox {
	background-color: #1E8CBE;
	height: 2.625em;
}

.deuce {
	box-sizing: border-box;
	/*padding: 7em;*/
	padding-top: 10.375em;
	color:white;
	margin-right: auto;
	margin-left: auto;
}

.ittybitty {
	width: 4em;
	padding: 1em;
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
}

.wolverine {

	box-sizing: border-box;
	padding: 10.875em;
	margin-right: auto;
	margin-left: auto;
}

.jeangrey {

	width: 24.6875em;
	padding: 2.8125em;
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
}

.cyclops {

	background-color: #E8F0F5;
	height: 15.375em;
	box-sizing: border-box;
}

.storm {

	background-color: #D1D3D7;
	height: 134.5025em;
	box-sizing: border-box;
}

.beast {

	background-color: #FFFFFF;
	width: 40.125em;
	padding: 9.84375em;
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;

}

.jubilee {

	background-color: #E8F0F5;
	height: 15.5625em;
	box-sizing: border-box;

}

.drx {
	
	box-sizing: border-box;
	padding: 10.875em;
	margin-right: auto;
	margin-left: auto;
	
}

.iceman {
	
	box-sizing: border-box;
	width: 13.125em;
	padding: 1.40625em;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	background-color: #1E8CBE;

}

.rogue {

	background-color: #000000;
	height: 9.25em;
	box-sizing: border-box;	
	color: white;

}

.sabretooth {

	box-sizing: border-box;
	padding-top: 1.25em;
	margin-bottom: 1.5em;
	margin-right: auto;
	margin-left: auto;
	text-align: center;

}

.fury {

	margin-bottom: 1em;
	text-align: center;
}

.deadpool {

	box-sizing: border-box;
	padding: 1.25em;
}

.magneto {

	width: 13.125em;
	height: 1.0625em;
	/*box-sizing: border-box;*/
	margin-right: auto;
	margin-left: auto;
	padding: 0.5em;
	background-color: white;

}






